#content{
    text-align: center;
    padding-top: 25%;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 0px 4px 8px rgba(0,0,0, 0.4),
                 0px 8px 13px rgba(0,0,0, 0.1),
                 0px 18px 23px rgba(0,0,0, 0.1); 
}                

body{
    background-image: url('https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1150&q=80');
    background-size: cover;
    color: white;
        
}
h1{
    font-weight: 700;
    font-size: 5em;
}

html{
    height: 100%;
}

hr{
    width: 400px;
    border-top:1px solid #f8f8f8 ;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#bs-example-navbar-collapse-1 .navbar-nav li a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white !important;
}

.navigation , #content .btn-default{
    background:linear-gradient(to top, #FD297B 0%, #FF655B 100%);
    color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: white !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #FF655B !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #FF655B !important;
}
